# Ajustes de hiperparâmetros

Vamos ver como ajustar usando:
    
   - **Grid Search**
   - **Random Search**
   - **Bayesian Search**
   
Nosso foco é apresentar métodos de otimização de hiperparâmetros então nao iremos nospreocupar em tratamento dos dados, estou usando aqui um dataframe já todo tratado mas nosso foco não é esse.

## Bibliotecas

In [7]:
import pandas as pd

## Coleta de dados

In [8]:
df = pd.read_csv('dftratado.csv', sep = ',')

In [9]:
df

,target_default,score_3,score_4,score_5,score_6,risk_rate,credit_limit,income,facebook_profile,n_bankruptcies,...,n8,n2,dfa,n10,n0,n7,nim,n4,c1,n9
0,0,350.0,101.800832,0.259555,108.427273,0.40,0.0,65014.12,1,0.0,...,1,0,0,0,0,0,0,0,0,0
1,0,370.0,97.062615,0.942655,92.002546,0.24,39726.0,100018.91,0,0.0,...,0,0,0,0,0,1,1,0,0,0
2,0,510.0,101.599485,0.987673,94.902491,0.32,54591.0,68830.01,0,1.0,...,0,0,0,0,0,0,0,1,0,0
3,0,500.0,98.474289,0.532539,118.126207,0.18,0.0,60011.29,1,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0,300.0,101.837040,0.915389,90.711273,0.44,61055.0,75024.28,0,0.0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27163,0,210.0,99.166412,0.986355,110.285563,0.30,0.0,80023.21,0,0.0,...,0,0,0,0,0,0,0,0,0,0
27164,0,250.0,96.385996,0.009482,104.824116,0.14,10431.0,70027.75,0,0.0,...,0,0,0,0,0,0,0,0,0,1
27165,0,620.0,92.087698,0.456206,111.333512,0.18,0.0,35020.43,0,0.0,...,0,0,0,0,1,0,0,1,0,0
27166,0,280.0,96.379531,0.416693,103.667082,0.17,10627.0,100013.24,0,0.0,...,0,0,0,0,1,1,0,1,0,0
27167,0,370.0,96.124977,0.692196,97.977973,0.27,36262.0,95026.69,0,0.0,...,0,0,0,0,0,0,0,0,0,0

## Separação treino e teste

In [14]:
X = df.drop('target_default',  axis=1)
y = df[['target_default']]

In [27]:
X.shape, y.shape

((27168, 47), (27168, 1))

# Vamos treinar em o tunning

In [26]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from numpy import mean
from numpy import std

X_treino, X_test, y_treino, y_test = train_test_split(X, y)

cv = KFold(n_splits=5, random_state=1, shuffle=True)

rf = RandomForestClassifier(random_state=42)

scores = cross_val_score(rf, X_treino, y_treino, scoring='accuracy', cv=cv, n_jobs=1)

print(f'Acurácia sem tunning: {mean(scores)*100, std(scores)}')

C:\Users\devda\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\devda\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\devda\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\devda\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\devda\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

Acurácia sem tunning: (83.79464409351162, 0.005407103700645718)